# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Logs
*.log

# Parquet / output data files
*.parquet
*.csv

# IDE / editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Python virtual environment
venv/
.env/
.envrc

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Mac OS hidden files
.DS_Store

# Windows hidden files
Thumbs.db
